@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* General */

body {
	background-color: #F5F5F1;
	color: #333333;
	font-family: 'Montserrat', Helvetica, sans-serif;
}

.jumbotron {
	background-image: url('https://photos-5.dropbox.com/t/2/AADMP1QCNTIMQD9teey-1Be2H1Flsaz-sde5mUgU9ik2xA/12/545952529/jpeg/32x32/1/_/1/2/jumbotron.jpg/EMLVxq8EGEYgAigC/bzXAMvJR1TZ01whYud1UmqvgpQHzw-XbW7KmZJGfB1U?size=1024x768&size_mode=3');
	h1, h2 {
		font-family: guardian-egyptt, georgia, serif;
	}
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}



/* Typography */

.center {
	text-align: center;
}

/* Fonts */

#show {
	h3 {
		font-size: 45px;
	}
	h5 {
		font-size: 25px;
	}
	p {
		font-size: 18px;
	}
}

.caption {
	h3 {
		font-size: 17px;
		margin: 2px;
	}
	p {
		font-size: 15px;
		margin: 0px;
	}
}

/* Clearfix to force listings on a new row to start on the left */

.col-md-3:nth-child(4n+1) {
	clear: left;
}

/* Navigation */

.navbar-default {
	background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
	font-weight: 400;
	color: #d5641c;
	font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
	font-size: 14px;
	font-weight: bold;
	color: #0192B5;
}

